@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: 'Prata', serif;
    background-image: url(./images/bhargava-srivari-0pDUGYuDYWw-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}
