@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: 'Prata', serif;
    background-image: url(./images/bhargava-srivari-0pDUGYuDYWw-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}
side{
    background-color: #d7d9ad;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    justify-content: space-between;

}
side ul{
    padding: 0;
    list-style-type: none;

}
side a{
    color: black;
    text-decoration: none;
    margin: 1rem;
    font-size: 1.1rem;
    display: inline-block;
}
.special{
    background-color: black;
    color: #fff;
    display: block;
    padding: 1rem;
    text-align: center;

}
main{
    font-size: 2rem;
    padding: 1.5rem;
    margin-left: 3rem;
}
main h1{
    margin: 0;

}
main h3{
    margin: 0;
    color: #634c04;
    
}
.logo{
    font-size: 3rem;
}
/* media queries */
@media screen and (max-width:700px) {
    body{
        flex-direction: column-reverse;
    }
    side{
        height: auto;
        width: 100%;
    }
    
}
